.wallet-section-container {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.wallet-section-divider {
  height: 1px;
  background: linear-gradient(to right, transparent, #1fa2ff, transparent);
  margin: 8px 0;
}
